.header {
  display: flex;
  justify-content: center;
  background: url(../../../assets/images/fon.jpg);
}

// .header__content{
//     // max-width: auto;
// }

.title_name {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  font-family: 'Roboto Condensed Bold' !important;
}

.title {
  margin-left: 15px;
  // color: white;
}

.title h1 {
  margin-bottom: -10px;
  font-size: 35px;
  font-weight: 700;
  color: yellow;
  // text-transform: uppercase;
}

.title h2 {
  margin-bottom: -5px;
  font-size: 20px;
  font-weight: 700;
  color: yellow;
  text-transform: uppercase;
}

.title p {
  font-size: 14px;
  color: white;
  font-weight: 400;
}
