@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Roboto Regular';
	src: url('./assets/styles/fonts/RobotoCondensed-Regular.ttf');
}

@font-face {
	font-family: 'Roboto Light';
	src: url('./assets/styles/fonts/RobotoCondensed-Light.ttf');
}

@font-face {
	font-family: 'Roboto Bold';
	src: url('./assets/styles/fonts/RobotoCondensed-Bold.ttf');
}